<p>Hola,</p>
<p>Recibimos tu solicitud para continuar con el proceso en el sistema CLEV.</p>
<p>
  Haz clic en el siguiente enlace para ver el detalle de tu deuda y continuar con el pago:
</p>
<p>
  <a href="<%= @continue_url %>"><%= @continue_url %></a>
</p>
<p>Si no solicitaste este acceso, puedes ignorar este correo.</p>
