<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style="margin: 0; padding: 24px 16px; background: #f4f7f8;">
    <%= yield %>
  </body>
</html>
